<!--main
    .container
    h2 Оренда перевіреної нерухомості
    .filters
        button Обрати нерухомість
        button Обрати ринок
        button Обрати регіон
        button Пошук
    h3 Рекомендовані пропозиції
    .recommendations
        card
            p Назва
            p Ціна
            p Регіон
        .card
            p Назва
            p Ціна
            p Регіон
        .card
            p Назва
            p Ціна
            p Регіон-->