main.content
    article 
        section.buttons
            div.contentContainer
                h1 Оренда перевіреної нерухомості
                div.buttonContainer
                    div.dropdown
                        div.select
                            span.selected Орендувати квартиру
                            div.caret
                        ul.menu 
                            li Орендувати будинок
                            li.active Орендувати квартиру
                    div.dropdown
                        div.select
                            span.selected Новобудови
                            div.caret
                        ul.menu 
                            li Вторинний ринок
                            li.active Новобудови
                    div.dropdown
                        div.select
                            span.selected Київ
                            div.caret
                        ul.menu 
                            li Львів
                            li Одеса
                            li.active Київ
                    button(type="button" class="button_accent") Пошук
        section.recommendations
            h2 Рекомендовані пропозиції
            section.apartment_template 
                div.apartment_template_box
                    div.apartment_template_box__text 
                        h3 Квартира в центрі
                        p Ціна: $50,000
                        p Місто: Київ
                        section.buttons
                            div.buttonContainer
                                button.button_details(data-apartment="1") Детальніше
                    img(src=require('./img/apartment1.jpg') alt="Apartment")
                div.apartment_template_box
                    div.apartment_template_box__text 
                        h3 Квартира біля моря
                        p Ціна: $50,000
                        p Місто: Одеса
                        section.buttons
                            div.buttonContainer
                                button.button_details(data-apartment="2") Детальніше
                    img(src=require('./img/apartment2.jpg') alt="Apartment") 
                div.apartment_template_box
                    div.apartment_template_box__text 
                        h3 Простора квартира
                        p Ціна: $50,000
                        p Місто: Київ
                        section.buttons
                            div.buttonContainer
                                button.button_details(data-apartment="3") Детальніше
                    img(src=require('./img/apartment3.jpg') alt="Apartment") 

#modal.modal
  .modal-content
    span.close &times;
    h3#modal-title
    p#modal-general-desc
    p#modal-description
    p#modal-accommodation
    p#modal-district-rating
    p#modal-contacts