@import 'main';
@import 'mixin';

.content {
    height: 700px;
    @media all and (max-width: 800px)
    {
        height: 800px;
    }
    @media all and (max-width: 576px)
    {
        height: 900px;
    }
    @media all and (max-width: 376px)
    {
        height: 1000px;
    }
}

article {
    @include flex();
    justify-content: initial;
    margin-top: 15px;
}

.buttons {
    @include flex();

    .contentContainer {
        @include flex();
        width: 90%;
        gap: 40px;
    }
    .buttonContainer {
        @include flex();
        button {
            @include button(200px, 55px);
            @include button-hover($button-color-main);
            font-weight: 600;
        }
        .button_accent {
            @include button(200px, 55px);
            @include button-hover($primary-color);
            color: $white;
            background-color: $primary-color;
        }
    }
    @media all and (max-width: 800px)
    {
        h1 {
            font-size: $h2-font-size;
        }
    }
    @media all and (max-width: 576px)
    {
        h1 {
            font-size: $h3-font-size;
        }
    }
}