@import 'main';
@import 'mixin';

article {
    @include flex();
}

.buttons {
    @include flex();

    .contentContainer {
        @include flex();
        width: 90%;
        gap: 20px;
        @media all and (max-width: 1220px) {
            gap: 10px;
        }
        @media all and (max-width: 800px) {
            h1 {
                font-size: 36px;
            }
        }
        @media all and (max-width: 376px)
        {
            h1 {
                font-size: $h3-font-size;
            }
        }
        
    }
    .buttonContainer {
        @include flex();
        gap: 10px;
        .button_accent {
            @include button(200px, 55px);
            @include button-hover($primary-color);
            color: $white;
            background-color: $primary-color;
        }
        .button_details {
            @include button(120px, 45px);
            @include button-hover($primary-color);
            color: $white;
            font-size: $p-font-size-small;
            background-color: $primary-color;
        }
        @media all and (max-width: 1220px) {
            flex-direction: column;
            gap: 50px;
        }
        @media all and (max-width: 576px) {
            gap: 30px;
        }
        
    }
    @media all and (max-width: 800px)
    {
        h1 {
            font-size: $h2-font-size;
        }
    }
    @media all and (max-width: 576px)
    {
        h1 {
            font-size: $h3-font-size;
        }
    }
}

.dropdown {
    @media all and (max-width: 1220px) {
        margin: 0;
    }
    @media all and (max-width: 576px) {
        min-width: 13em;
        span {
            font-size: 16px;
        }
    }
    min-width: 15em;
    position: relative;
    margin: 2em;

    & * {
        box-sizing: border-box;
    }

    .select {
        background-color: $button-color-main;
        color: $white;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px $button-color-additional solid;
        border-radius: 1em;
        padding: 1em;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
            background: $button-color-additional;
        }
    }

    .select-clicked {
        border: 2px $secondary-color solid;
        box-shadow: 0 0 0.8em $secondary-color;
    }

    .caret {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid #fff;
        transition: 0.3s;

        &-rotate {
            transform: rotate(180deg);
        }
    }

    .menu {
        list-style: none;
        padding: 0.2em 0.5em;
        background: $button-color-main;
        border: 1px $secondary-color solid;
        box-shadow: 0 0.5em  1em rgba(0, 0, 0, 0.2);
        border-radius: 1em;
        color: $black;
        position: absolute;
        top: 3em;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        opacity: 0;
        display: none;
        z-index: 1;

        &-open {
            display: block;
            opacity: 1;
        }

        li {
            padding: 0.7em 0.5em;
            margin: 0.3em 0;
            border-radius: 0.5em;
            cursor: pointer;

            &:hover {
                background: $button-color-additional;
            }

            &.active {
                background: $button-color-additional;
            }
        }
    }
}

.recommendations {
    @include flex();
    row-gap: 50px;
    @media all and (max-width: 1220px)
    {
        gap: 21px;
    }
    @media all and (max-width: 800px)
    {
        h2 {
            font-size: $h3-font-size;
        }
    }
}

.apartment_template {
    @include flex();
}

// Картка з квартирою
.apartment_template_box {
    @include flex();
    background: $line-color;
    width: 400px;
    height: 220px;
    border-radius: 15px;
    //overflow: hidden;

    @media all and (max-width: 1220px)
    {
        gap: 30px;
    }

    // Для екранів менших за 410px зменшуємо ширину картки
    @media all and (max-width: 410px) {
        width: 300px;
    }

    // Заголовок
    h3 {
        font-size: $h3-font-size;
        font-family: 'Cormorant Infant';
        font-weight: 600;
        line-height: 30px;
        text-align: center;
        font-weight: 800;
    }

    // Зображення
    img {
        width: 144px;
        height: 180px;
        object-fit: cover;
        border-radius: 15px; // Додаємо заокруглення до зображення
        // Для екранів менших за 410px зменшуємо ширину зображення
        @media all and (max-width: 410px) {
            width: 90px;
            height: 100px;
        }
    }

    // Блок з написами
    .apartment_template_box__text {
        @include flex();
        gap: 21px;
        flex-direction: column;
        width: 50%;

        @media all and (max-width: 1220px)
        {
            gap: 21px;
        }

        // Текст
        p {
            font-size: $p-font-size-small;
            color: $primary-color;
            text-align: center;
            font-weight: 600;
        }

        // Посилання
        a {
            @include a($dark-gray, $red);
        }
    }
}
/* Стилі для модального вікна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }