@import 'main';
@import 'mixin';

header {
    height: $header-heigth;
    background-color: $primary-color;
    color: white;
    @include container;

    a {
        color: white;
        text-decoration: none;
        margin-right: auto;

        i {
            font-size: $h3-font-size;
        }
    }

    h1 {
        font-family: 'Cormorant Infant', serif;
        font-size: $h1-font-size;
        margin: 0 auto;
    }

    button {
        background-color: transparent;
        border: 1px solid white;
        color: white;
        padding: 10px 20px;
        cursor: pointer;
    }
}