@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,400;1,500&family=Spectral:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');
// Кольори
$primary-color: #5D001E;
$secondary-color: #9A1750;
$black: #000000;
$white: #FFFFFF;
$dark-gray:#2A2940;
$red: #FE0000;
$line-color: #C4C4C4;
$background-color: #f7f7f7;
$text-color: #9A1750;
$button-color-main: #afafaf;
$button-color-additional: #827A7A;
$third-color: #f7c1c2;
// Розміри
$width: 1440px;
$header-heigth: 144px;
$content-heigth: 730px;
$footer-heigth: 72px;
// Розміри шрифтів
$p-font-size-large: 20px;
$p-font-size: 18px;
$p-font-size-small: 16px;
$h1-font-size: 72px;
$h2-font-size:  48px;
$h3-font-size: 24px;
$gap: 30px;

html {
    font-size: $p-font-size;
    background-color: $background-color;
}

body {
    max-width: $width;
    margin: auto;
    font-family: 'Noto Sans', sans-serif;
    color: $text-color;
    display: flex;
    flex-direction: column;
    @media all and (max-width: 410px) {
        gap: 40px;
    }
    @media all and (max-width: 276px) {
        gap: 100px;
    }
}

h1
{
    font-size: $h1-font-size;
    font-weight: bold;
    font-family: 'Cormorant Infant';
}

h2
{
    font-size: $h2-font-size;
    font-weight: bold;
    font-family: 'Cormorant Infant';
}
h3
{
    font-size: $h3-font-size;
}