@import 'main';
// Міксини
@mixin flex()
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:$gap;
    flex-wrap: wrap;
    @media all and (max-width: 1220px)
    {
        gap: 100px;
    }
}

@mixin a($color11,$color12)
{
    color:$color11;
    font-weight: 500;
    text-decoration: underline;
    &:hover
    {
        color:$color12;
        transition: color 2s ease;
    }
    &:not(hover)
    {
        color:$color11;
        transition: color 2s ease;
    }
}

@mixin button($w,$h)
{
    @include flex();
    background-color: $button-color-main;
    color:$secondary-color;
    width: $w;
    height: $h;
    border-radius: $h - 10px;
    cursor: pointer;
    @include font-size($p-font-size);
    @media all and (max-width: 680px)
    {
        width: $w * 0.6;
        height: $h * 0.6;
    }
}

@mixin button-hover($c) {
    &:hover {
        background-color: lighten($c, 10%);
    }
}

/*@mixin dropdown-button() {
    position: relative;

    &.dropdown-btn {
        @include button(200px, 55px);
        @include button-hover($button-color-main);
        font-weight: 600;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;

        a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;

            &:hover {
                background-color: #f1f1f1;
            }
        }
    }

    &:hover .dropdown-content {
        display: block;
    }
}*/

@mixin font-size ($fz)
{
    font-size: $fz;
    @media all and (max-width: 680px)
    {
        font-size:$fz * 0.5;
    }
}