@import 'main';
// Міксини
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin container {
    max-width: $width;
    margin: 0 auto;
    padding: 0 15px;
}